{% extends "base.html" %}


{% block content %}
<h1>{{title}}</h1>
<form method='POST'>
    <table>
        <tbody>
            <tr>
                <td> <label for="username">Username </label> </td>
                <td>
                    <input name="username" type="text" value="{{username}}" />
                    <span class="error">{{username_error}}</span>
                </td>
            </tr>
            <tr>
                <td> <label for="password">Password </label> </td>
                <td>
                    <input name="password" type="password" />
                    <span class="error">{{password_error}}</span>
                </td>
            </tr>
            <tr>
                <td> <label for="verifypass">Verify Password </label> </td>
                <td>
                    <input name="verifypass" type="password" />
                    <span class="error">{{veripass_error}}</span>
                </td>
            </tr>
            <tr>
                <td> <label for="email">Email (optional)  </label> </td>
                <td>
                    <input name="email" type="text" value="{{email}}" />
                    <span class="error">{{email_error}}</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td> <input name="submit" type="submit" value="Register" /> </td>
            </tr>
            
    
            
        
        </tbody>
    </table>
</form>

{% endblock %}